.box-1{
  width: 200px;
  border : 1px solid black;
}
.droptarget {
  float: left; 
  width: 100px; 
  height: 200px;
  margin: 15px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
.drop-receive{
 overflow: auto;
}